<footer class="text-white mt-5" style="background: rgba(52, 58, 64, 0.5);">
    <div class="container py-4  animate-on-scroll">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand text-white" href="{% url 'home' %}">
                    <img src="https://www.pythonanywhere.com/user/SulemanSaeed/files/home/SulemanSaeed/contact_us/static/logo.png" alt="MySite Logo" style="height: 60px;">
                </a>
                <ul class="list-unstyled" style="margin-left: 10px">
                    <li><a href="#home" class="text-white">Home</a></li>
                    <li><a href="#about" class="text-white">About</a></li>
                    <li><a href="#products" class="text-white">Products</a></li>
                    <li><a href="#contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>VISIT US</h5>
                <address>
                    Flat 21, Building 2446, Road 364, Block 203, Muharraq, Kingdom of Bahrain.<br>
                    <a href="tel:+973-3334-7169" class="text-white">+973-3334-7169</a><br>
                    <a href="tel:+97333347169" class="text-white">+97333347169</a><br>
                    <a href="mailto:Indonara.metal@gmail.com" class="text-white">Indonara.metal@gmail.com</a>
                </address>
            </div>
            <div class="col-md-4">
                <h5>OPENING HOURS</h5>
                <p>Monday - Friday</p>
                <p>11:00AM - 3:00PM</p>
                <p>Saturday - Sunday</p>
                <p> 11:00AM - 3:00PM</p>
            </div>
        </div>
        <div>
            <br><p style="text-align: center; font-size: small;">© All Rights Reserved. Indo Nara Metal 2024</p>
        </div>
    </div>
</footer>
